<div>
   <div><h3>Employee Details</h3></div>
   <p><b>ID: </b>{{emp.id}}</p>
   <p><b>Name: </b>{{emp.name}}</p>
   <p><b>Salary: </b>{{emp.salary | currency: 'INR'}}</p>
   <div *ngIf="emp.permanent"><p><b>Permanent: </b>Yes</p></div>
   <div *ngIf="!emp.permanent"><p><b>Permanent: </b>No</p></div>
   <p><b>Department ID: </b>{{emp.department.dept_Id}}</p>
   <p><b>Department Name: </b>{{emp.department.dept_Name}}</p>
   <div><h3>Skills</h3>
      <table>
         <tr>
             <th>Skill Id</th>
             <th>Skill Name</th>
         </tr>
         <tr *ngFor="let empl of emp.skills">
             <td>{{empl.skill_Id}}</td>
             <td>{{empl.skill_Name}}</td>
         </tr>
      </table>
      <!--<p><b>Date Of Birth: </b>{{emp.dateOfBirth}}</p>-->
      <p><b>Date Of Birth: </b>{{emp.dateOfBirth | date:'mediumDate'}}</p>




   </div>











</div>
