<h3>Managers</h3>
<div *ngFor="let manager of managers | async | paginate: { itemsPerPage: count, currentPage: p }" style="width:300px;">
    <div *ngIf="manager"></div>
            <div>
                <label>ID : </label>{{manager.managerId}}
             </div>
            <div>
                <label>Name : </label>{{manager.firstName}}
            </div>
            <div>
                <label>Age : </label>{{manager.age}}
            </div>
            <div>
                <label>Gender : </label>{{manager.gender}}
            </div>
            <span class="button is-small btn-info" (click)="acceptManager()">Accept</span>
            <span class="button is-small btn-info" (click)="rejectManager(manager)">Reject</span>
            <hr/>
    </div>
    <div class="text-right">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

