<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Login</h3>
          </div>
          <div class="card-body">
            <form class="form">
              <div class="form-group">
                <label for="adminId">Admin Id</label>
                <input type="text" class="form-control rounded-0" [(ngModel)]="adminData.adminId" name="adminId" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control rounded-0" [(ngModel)]="adminData.password" name="password" required>
              </div>
              <button type="button" (click)="loginAdmin()" class="btn btn-success float-right">Login</button>
            </form>
          </div>
        </div> 
      </div>
    </div>
  </div>
