<h3>Pilots</h3>
<div *ngFor="let pilot of pilots | async | paginate: { itemsPerPage: count, currentPage: p }" style="width:300px;">
    <div *ngIf="pilot">
        <button class="btn btn-secondary ml-2" type="button" (click)="getPilot(pilot)">{{pilot.pilotId}}</button>
        <hr/>
    </div>

</div>
<div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>