<h3>Planes</h3>
<div *ngFor="let plane of planes | async | paginate: { itemsPerPage: count, currentPage: p }" style="width:300px;">
    <div *ngIf="plane">
        <button class="btn btn-secondary ml-2" type="button" (click)="getPlane(plane)"> ID :  {{plane.planeId}}</button>
        <hr/>
    </div>

</div>
<div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

