<div *ngIf="plane">
    <div>
        <label>Carrier Name : </label>{{plane.carrierName}}
    </div>
    <div>
        <label>Plane Model : </label>{{plane.planeModel}}
    </div>
    <div>
        <label>Seat Capacity : </label>{{plane.seatCapacity}}
    </div>
    <span class="button is-small btn-info" (click)="updatePlane(plane)" >Update Details</span>
</div>