<h3>Add Plane</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()" #pilotform="ngForm">
    <div class="form-group">
      <label for="pilotName">Pilot Name</label>
      <input type="text" class="form-control" id="pilotName" required [(ngModel)]="pilot.pilotName" name="pilotName" #pilotName="ngModel" [class.is-invalid]="pilotName.invalid && pilotName.touched">
      <small class="text-danger" [class.d-none]="pilotName.valid || pilotName.untouched"> Name is required</small>
    </div>
    <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" required [(ngModel)]="pilot.age" name="age" #age="ngModel" [class.is-invalid]="age.invalid && age.touched">
        <small class="text-danger" [class.d-none]="age.valid || age.untouched">Age is required</small>
      </div>
 
      <div class="form-group">
        <label>Gender</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="MALE" [(ngModel)]="pilot.gender" #gender="ngModel" required > 
          <label class="form-check-label">Male</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="FEMALE" [(ngModel)]="pilot.gender" #gender="ngModel" required>
          <label class="form-check-label">Female</label>
        </div>
        <small class="text-danger" [class.d-none]="gender.valid || gender.untouched">Gender is required</small> 
        <!--<div *ngIf="gender.invalid && gender.untouched" class="text-danger"> 
          Gender is required
       </div>-->
      </div>
 
    
 
    <button type="submit" class="btn btn-success" [disabled]="pilotform.form.invalid">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>


