<div class="bg">
<h3 style="color: black;text-align: center;">AirPort Management System</h3>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="managerLogin" routerLinkActive="active">Manager Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="managerRegister" routerLinkActive="active">Manager Register</a>
        </li>
      </ul>
      <ul class="navbar-nav">
          <a class="nav-link"  routerLink="/" routerLinkActive="active">Home</a>
          <a class="nav-link"  routerLink="adminLogin" routerLinkActive="active">Admin Login</a>
          <a class="nav-link"  routerLink="adminRegister" routerLinkActive="active">Admin Register</a>
          <a class="nav-link"  routerLinkActive="active"(click)="logout()">LogOut</a>      
      </ul>
    </div>
  </nav> 
   
  <div class="container">
    <router-outlet></router-outlet>            
  </div>
  </div>