.btn{
    margin-left: 10px;
    min-width: 120px;
    max-width: auto;
}
.bg{
  
    height: 70rem; background-size:cover; width:100%;
    background-image:url('C:\case study\Airport-Management\src\assets\download.jpeg');
    background-position:50% 50%;background-repeat: no-repeat;background-attachment: fixed;top:0px; bottom: 0px;
    height: 100%;
    background-repeat: repeat;
    position: absolute;
   
   
   
}