<form (ngSubmit)="onUpdate()">
 
    <div class="form-group">
        <label for="planeId">Plane Id</label>
        <input type="text" class="form-control" id="planeId"  [(ngModel)]="plane.planeId" name="planeId" readonly>
      </div>
   
 
    <div class="form-group">
      <label for="carrierName">Carrier Name</label>
      <input type="text" class="form-control" id="carrierName"  [(ngModel)]="plane.carrierName" name="carrierName">
    </div>

    <div class="form-group">
        <label for="planeModel">Plane Model</label>
        <input type="text" class="form-control" id="planeModel"  [(ngModel)]="plane.planeModel" name="planeModel">
      </div>
 
   
    <div class="form-group">
      <label for="seatCapacity">Seat Capacity</label>
      <input type="text" class="form-control" id="seatCapacity"  [(ngModel)]="plane.seatCapacity" name="seatCapacity">
    </div>
 
    <button type="submit" class="btn btn-success">Save</button>
  </form>

