<form (ngSubmit)="onUpdate()">
 
    <div class="form-group">
        <label for="pilotId">Pilot Id</label>
        <input type="text" class="form-control" id="pilotId"  [(ngModel)]="pilot.pilotId" name="pilotId" readonly>
      </div>
   
 
    <div class="form-group">
      <label for="pilotName">Pilot Name</label>
      <input type="text" class="form-control" id="pilotName"  [(ngModel)]="pilot.pilotName" name="pilotName">
    </div>

    <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age"  [(ngModel)]="pilot.age" name="age">
      </div>
 
   
      <div class="form-group">
        <label>Gender</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="MALE" [(ngModel)]="pilot.gender" #gender="ngModel" required > 
          <label class="form-check-label">Male</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="FEMALE" [(ngModel)]="pilot.gender" #gender="ngModel" required>
          <label class="form-check-label">Female</label>
        </div>
      </div>
 
    <button type="submit" class="btn btn-success">Save</button>
  </form>


