<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
        <div class="card rounded-0">
          <div class="card-header">
            <h3 class="mb-0">Register</h3>
          </div>
          <div class="card-body">
  <div [hidden]="submitted" style="width: 300px;">
    <form (ngSubmit)="onSubmit()" #managerform="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="manager.firstName" name="firstName" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched">
        <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">First Name is required</small>
      </div>
      <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" required [(ngModel)]="manager.lastName" name="lastName" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched">
          <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">Last Name is required</small>
        </div>
   
      <div class="form-group">
        <label for="age">Age</label>
        <input type="text" class="form-control" id="age" required [(ngModel)]="manager.age" name="age" #age="ngModel" [class.is-invalid]="age.invalid && age.touched">
          <small class="text-danger" [class.d-none]="age.valid || age.untouched">Age is required</small>          
      
      </div>
   
      <div class="form-group">
          <label>Gender</label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" value="MALE" [(ngModel)]="manager.gender" #gender="ngModel" required > 
            <label class="form-check-label">Male</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" value="FEMALE" [(ngModel)]="manager.gender" #gender="ngModel" required>
            <label class="form-check-label">Female</label>
          </div>
          <small class="text-danger" [class.d-none]="gender.valid || gender.untouched">Gender is required</small> 
          <!--<div *ngIf="gender.invalid && gender.untouched" class="text-danger"> 
            Gender is required
         </div>-->
        </div>
        <div class="form-group">
          <label>Contact Number</label>
          <input type="tel" #contactNumber="ngModel" pattern="^\d{10}$" [class.is-invalid]="contactNumber.invalid && contactNumber.touched"
          class="form-control" name="contactNumber" [(ngModel)]="manager.contactNumber" required>
          <div *ngIf="contactNumber.errors && (contactNumber.invalid ||contactNumber.touched)">
             <small class="text-danger" [class.d-none]="contactNumber.valid || contactNumber.untouched">Contact number is required</small>      
             <small class="text-danger" *ngIf="contactNumber.errors.pattern">Contact number must be 10 digits</small>      
           </div>
      </div>
      <div class="form-group">
          <label for="managerId">Manager Id</label>
          <input type="text" class="form-control" id="managerId" required [(ngModel)]="manager.managerId" name="managerId" #managerId="ngModel" [class.is-invalid]="managerId.invalid && managerId.touched">
            <small class="text-danger"  [class.d-none]="managerId.valid || managerId.untouched">Vendor Id is required</small>          
        
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" required [(ngModel)]="manager.password" name="password" #password="ngModel" [class.is-invalid]=" password.invalid &&  password.touched">
              <small class="text-danger"  [class.d-none]="password.valid || password.untouched"> Password  is required</small>
      </div> 
      <button type="submit" class="btn btn-success" [disabled]="managerform.form.invalid">Submit</button>
    </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div [hidden]="!submitted">
    <h4>Your details submitted successfully!</h4>
  </div>
  
  
  
  