<form #empForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="block">
      <h1>Edit Employee</h1>
      <div>
        <label><b>Name</b></label>
        <br />
        <input
          type="text"
          required
          minlength="2"
          maxlength="10"
          name="name"
          [(ngModel)]="emp.name"
          #name="ngModel"
        />
        <div
          *ngIf="name.invalid && (name.dirty || name.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="name.errors.required">Name is required</div>
          <div *ngIf="name.errors.minlength">
            Name must be atleast 2 characters long.
          </div>
          <div *ngIf="name.errors.maxlength">
            Name must not exceed 10 characters long.
          </div>
        </div>
      </div>
      <br />
      <div>
        <label><b>Salary</b></label>
        <br />
        <input
          type="number"
          required
          maxlength="10"
          name="salary"
          [(ngModel)]="emp.salary"
          #salary="ngModel"
        />
      </div>
      <br />
      <div>
        <label>Is Permanent or not?</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="permanent"
            id="permanentTrue"
            [value]="true"
            [(ngModel)]="emp.permanent"
            #permanent="ngModel"
          />
          <label class="form-check-label">Yes</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="permanent"
            id="permanentFalse"
            [value]="false"
            [(ngModel)]="emp.permanent"
            #permanent="ngModel"
          />
          <label class="form-check-label">No</label>
        </div>
      </div>
      <div>
        <select class="custom-select" name="department" [(ngModel)]="emp.department.dept_Id" #department="ngModel" (change)="emp.department.dept_Id=$event.target.value">
            <option *ngFor="let dept of dept" [value]="dept.dept_Id"  [selected]="emp.department.dept_Id==dept.dept_Id">{{dept.dept_Name}}</option>
        </select>
    </div>
    <button type="submit" [disabled]="!empForm.valid">Save</button>
  
    </div>
  
    <div class="block">
      <h1>Employee Model</h1>
      <br />
      <pre>{{ emp | json }}</pre>
    </div>
  
    <div class="block">
      <h1>Angular Generated Form Model</h1>
      <br />
      <pre>{{ empForm.value | json }}</pre>
    </div>
  </form>
  
