<h3>Add Plane</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()" #planeform="ngForm">
    <div class="form-group">
      <label for="carrierName">Carrier Name</label>
      <input type="text" class="form-control" id="carrierName" required [(ngModel)]="plane.carrierName" name="carrierName" #carrierName="ngModel" [class.is-invalid]="carrierName.invalid && carrierName.touched">
      <small class="text-danger" [class.d-none]="carrierName.valid || carrierName.untouched">Carrier Name is required</small>
    </div>
    <div class="form-group">
        <label for="planeModel">Plane Model</label>
        <input type="text" class="form-control" id="planeModel" required [(ngModel)]="plane.planeModel" name="planeModel" #planeModel="ngModel" [class.is-invalid]="planeModel.invalid && planeModel.touched">
        <small class="text-danger" [class.d-none]="planeModel.valid || planeModel.untouched">Plane Model is required</small>
      </div>
 
    <div class="form-group">
      <label for="seatCapacity">Seat Capacity</label>
      <input type="text" class="form-control" id="seatCapacity" required [(ngModel)]="plane.seatCapacity" name="seatCapacity" #seatCapacity="ngModel" [class.is-invalid]="seatCapacity.invalid && seatCapacity.touched">
      <small class="text-danger" [class.d-none]="seatCapacity.valid || seatCapacity.untouched">Seat Capacity is required</small>            
    </div>
 
    
 
    <button type="submit" class="btn btn-success" [disabled]="planeform.form.invalid">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>

