<h3>Hangers</h3>
<div *ngFor="let hanger of hangers | async | paginate: { itemsPerPage: count, currentPage: p }" style="width:300px;">
    <div *ngIf="hanger"></div>
            <div>
                <label>ID : </label>{{hanger.hangerId}}
             </div>
            <div>
                <label>Allocated Plane : </label>{{hanger.plane}}
            </div>
            <div>
                <label>Status : </label>{{hanger.status}}
            </div>
            <hr/>     
    </div>
<div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>