<div *ngIf="pilot">
    <div>
        <label>Name : </label>{{pilot.pilotName}}
    </div>
    <div>
        <label>Age: </label>{{pilot.age}}
    </div>
    <div>
        <label>Gender : </label>{{pilot.gender}}
    </div>
    <span class="button is-small btn-info" (click)="updatePlane(pilot)" >Update Details</span>
</div>
 