<h3>Add Hanger</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()" #hangerform="ngForm">
    <div class="form-group">
        <label for="hangerId">HangerId</label>
        <input type="text" class="form-control" id="hangerId" required [(ngModel)]="hanger.hangerId" name="hangerId" #hangerId="ngModel" [class.is-invalid]="hangerId.invalid && hangerId.touched">
        <small class="text-danger" [class.d-none]="hangerId.valid || hangerId.untouched">Hanger Id is required</small>            
      </div>
    <div class="form-group">
      <label for="plane">Plane</label>
      <input type="text" class="form-control" id="plane"  [(ngModel)]="hanger.plane" name="plane" #plane="ngModel" >
    </div>
    <button type="submit" class="btn btn-success" [disabled]="hangerform.form.invalid">Submit</button>
  </form>
</div>
  
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
