<h2 style="color: black;text-align: center;">Welcome Admin</h2>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="nav-link" routerLink="addPlanes" routerLinkActive="active">Add Planes</a>
    <a class="nav-link" routerLink="getAllPlanes" routerLinkActive="active">View Planes</a>
    <a class="nav-link" routerLink="getAllManagers" routerLinkActive="active">View Managers</a>
    <a class="nav-link" routerLink="addPilots" routerLinkActive="active">Add Pilots</a>
    <a class="nav-link" routerLink="getAllPilots" routerLinkActive="active">View Pilots</a>
    <a class="nav-link"  routerLink="addHanger" routerLinkActive="active">Add Hanger</a>
</nav>
<router-outlet></router-outlet>
    
