<h2 style="color: black;text-align: center;">Welcome Manager</h2>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="nav-link" routerLink="allocateHangers" routerLinkActive="active">Allocate Hangers</a>
    <a class="nav-link" routerLink="hangerStatus" routerLinkActive="active">View Hanger Status</a>
</nav>  
<router-outlet></router-outlet>