<form (ngSubmit)="onUpdate()">
 
    <div class="form-group">
        <label for="hangerId">Hanger Id</label>
        <input type="text" class="form-control" id="hangerId"  [(ngModel)]="hanger.hangerId" name="hangerId" readonly>
      </div>
   
 
    <div class="form-group">
      <label for="plane">Allocated Plane</label>
      <input type="text" class="form-control" id="plane"  [(ngModel)]="hanger.plane" name="plane">
    </div>
  
    <button type="submit" class="btn btn-success">Save</button>
  </form>


